*{margin: 0;padding: 0;font-family: 'Quicksand', sans-serif;}

i.fa.fa-arrow-up {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    background: #80808070;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    color: white;
}

.choice li {
    float: left;
    width: 25%;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    list-style: none;
    height: 75px;
    line-height: 75px;
    color: gray;
}

ul.choice {
    width: 100%;
}

.shuu h1 {
    height: 80px;
    line-height: 80px;
    background: white;
    width: 300px;
    margin: auto;
    margin-top: 18px;
    border-radius: 10px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    color: gray;
}

.shuu {
    height: 120px;
    background: #87a774;
}

p.status {
    position: relative;
    z-index: 21;
    text-transform: uppercase;
}

span.price {float: right;color: #ff5050;font-weight: bold;}

.box {
    width: 20px;
    height: 20px;
    border: 1px solid;
    float: left;
    position: relative;
    bottom: -7px;
    margin-right: 10px;
    cursor: pointer;
}

.cate>li {
    border-bottom: 1px dotted;
    margin-top: 15px;
}

.detail li {
    line-height: 37px;
}

.cate p.title {
    text-transform: uppercase;
}

.menu-left ul {
    list-style: none;
}

ul.detail {
    margin-left: 15px;
}

.menu-left {
    position: fixed;
    width: 12%;
    left: 5%;
    top: 200px;
}

.khoisp p.des {
    padding-top: 0.5rem;
    position: relative;
    top: -44px;
    text-align: left;
    color: gray;
}

p.price {
    top: -65px;
    line-height: 2px;
}




a.btn {
    border: 1px solid;
    width: 155px;
    position: relative;
    top: -78px;
    z-index: 20;
    color: #eceef0;
    background: #87a774;
    transition: 0.2s;
    opacity: 0;
    visibility: hidden;
}

a.btn:hover {
    background: none;
    color: #97a774;
}



 .khoisp h2 {
    text-align: center;
    margin-left: 10px;
    width: 95%;
    float: left;
    font-size: 1.5rem;
    z-index: 22;
    position: relative;
    top: -60px;
}

.khoisp {
    text-align: center;
    height: 450px;
    overflow: hidden;
    background: #eceef0;
    transition: 0.2s;
    margin: 15px 0px;
    box-sizing: border-box;
    padding: 1% 9%;
}

.khoisp:hover  {border-radius: 5px;transform: scale(1.02);box-shadow: 0 0 5px 9px #87a7743d;}

.khoisp:hover a.btn {
    opacity: 1;
    visibility: visible;
}

.khoisp img {
    width: 95%;
    transition: 0.4s;
    position: relative;
    z-index: 1;
    top: -5px;
}